#Glimpse {
  width: 80%;
  margin: auto;
  max-width: 1200px;
}

.glimpse-container {
  border-right: none;
  border-left: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.image-card {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 1.5rem;
}

.left-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.image-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.image-container > img {
  border-radius: 15px;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  line-height: 1;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.glimpse-container .image-card:first-child .content:last-child {
  color: #b741dd;
}

.glimpse-container .image-card:first-child .content:first-child {
  color: #7d00f2;
}

.glimpse-container .image-card:nth-child(2) .content:first-child {
  color: #b741dd;
}

.glimpse-container .image-card:nth-child(2) .content:last-child {
  color: #7d00f2;
}

.content h2 {
  font-size: 4.5rem;
  width: auto;
  font-weight: 700;
  z-index: 1;
}

.content p {
  font-size: 2.2rem;
  font-weight: 500;
}

.right-container {
  width: 28%;
}

.right-container > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.bottom-container {
  width: 100%;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.bottom-container .content {
  color: #7d00f2;
  text-align: center;
}

.bottom-container > img {
  border-radius: 15px;
  object-fit: cover;
}
