nav .desktop-nav {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 50px;
  background-color: var(--primary-black);
  z-index: 9999;
}

nav .logo {
  align-self: flex-start;
  width: 80px;
  height: 50px;
  overflow: hidden;
  margin-left: 0.5rem;
}

nav .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

nav .desktop-nav .links {
  margin-top: 1rem;
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 3rem;
  height: 100%;
}

nav .desktop-nav .links a {
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.08em;
  color: var(--white);
  text-shadow: -0.25px -0.25px 0 transparent, 0.25px 0.25px transparent;
  text-decoration: none;
  transition: all 0.25s ease-out;
  position: relative;
}

nav .desktop-nav .links a:hover {
  color: var(--primary-blue);
  text-shadow: -0.25px -0.25px 0 var(--primary-blue),
    0.25px 0.25px var(--primary-blue);
}

nav .desktop-nav .links a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 15px;
  left: 0;
  background-color: rgb(0, 135, 202);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

nav .desktop-nav .links a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

nav .mlh-flag {
  position: relative;
  top: 3.5rem;
  right: 2rem;
  width: 100px;
}

nav .mlh-flag img {
  width: 100%;
  height: 100%;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

nav .mobile-nav {
  display: none;
}

@media screen and (max-width: 1000px) {
  nav .mlh-flag {
    top: 0%;
  }

  nav .mlh-flag {
    right: 10%;
  }

  nav .mlh-flag img {
    width: 100px;
  }

  nav .mobile-nav {
    display: block;
    transition: all 0.5s ease-in;
  }

  nav .mobile-nav-links {
    transition: all 0.5s ease-in;
    z-index: 1000;
    position: fixed;
    width: 65%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    justify-content: center;
    padding-top: 15%;
    right: 0;
    /* top: 20px; */
    box-sizing: border-box;

    /* background-color:#00121f; */
    transform: translate(100%, 0);
    /* width: 100%; */
    height: 100%;
    background-color: rgb(0, 18, 31);
    /* backdrop-filter: blur(10px);  */
    border-radius: 10px;
    padding: 20px;

    /* animation: gradientAnimation 5s infinite alternate; */
  }

  nav .mobile-nav-links a {
    /* top: 20px; */
    color: var(--white);
    text-decoration: none;
    margin: 1.5rem 0;
    font-size: 1rem;
    font-weight: bold;
    position: relative;
    text-align: center;

    transition: all 0.3s ease-in;
    /* align-items: self-start; */
  }

  nav .mobile-nav-links a:hover {
    color: var(--primary-blue);
    text-shadow: -0.25px -0.25px 0 var(--primary-blue),
      0.25px 0.25px var(--primary-blue);
  }

  nav .mobile-nav-links a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #969ea3;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    margin-top: 6px;
  }
  nav .mobile-nav-links a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    transition: transform 0.5s ease-out;
  }

  nav .mobile-nav-icons {
    color: var(--white);
    position: fixed;
    right: 0%;
    top: 1%;
    font-size: 2.5rem;
    cursor: pointer;
    z-index: 1000;
  }
}

@media screen and (min-width: 1000px) {
  .desktop-nav {
    display: flex !important;
  }
}

.mlh-flag2 {
  width: fit-content;
  top: 0%;
}

.mlh-flag2 img {
  width: 70px;
  z-index: 500;
}

.burgMlh {
  display: flex;
  margin-right: 1rem;
}
