#body {
  overflow: hidden;
}

#preloader {
  transition: all 0.4s ease-in;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  z-index: 10000;
  position: fixed;
  overflow: hidden;
  background: #141414;
}

.text-container {
  display: flex;
  justify-content: center;
  block-size: min(10rem, 23vw);
  min-inline-size: 22.5rem;
}

.text-stroke {
  font-size: 92px;
  letter-spacing: 4px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: textStrokeAnim 5500ms linear both;
  animation-iteration-count: 1;
}

.text {
  font-family: "Montserrat", sans-serif !important;
}

@keyframes textStrokeAnim {
  0% {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    fill: #0000;
  }
  99% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 95%;
    fill: #0000;
  }
  100% {
    stroke-dasharray: 0%;
    stroke-dashoffset: 0%;
    fill: #592ee1;
    filter: drop-shadow(2px 2px 10px #592ee1);
  }
}
