#myCanvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  height: 2478px;
  width: 100%;
}

.schedule-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  position: relative;
}

.aconst2 {
  position: absolute;
  bottom: 30%;
  right: 0;
  z-index: -1;
  animation: floatx 3.2s linear infinite;
  /* height: 10%; */
}
.aconst2 img {
  height: 120px;
  opacity: 1;
}
.schedule-section .container {
  margin: 2rem 0;
  text-align: center;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to right, #b741dd 47.2%, #7d00f2 90.1%) 1;
  padding: 2rem;
  width: 40rem;
  height: 500px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  position: relative;
}

.schedule-section .container::-webkit-scrollbar {
  display: none;
}
.schedule-section .container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.schedule-section .schedule-title {
  font-size: 1.4rem;
  line-height: 2.3rem;
  text-align: center;
  text-shadow: 0px 0px 20px var(--primary-blue);
  text-transform: uppercase;
}

.schedule-section h5 {
  text-transform: uppercase;
  text-shadow: 0px 0px 20px var(--primary-blue);
}

.schedule-section .schedule-container .time-container-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 20px;
}

.schedule-section .schedule-container .time-container-left .time .time-text {
  text-align: left;
}

.schedule-section .schedule-container .time-container-right {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  margin: 0 20px;
}

.schedule-section .schedule-container .time-container-right .time .time-text {
  text-align: left;
}

.planet img {
  width: 150px;
  height: 150px;
  animation: rotate 7s infinite;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(25deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

.schedule-section .time-container-left .time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 20px;
}

.schedule-section .time-container-right .time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 20px;
}

.time-text {
  letter-spacing: 0.1em;
  font-size: 0.9rem;
}

#Day-2 {
  margin-top: 100px;
}
#Day-2 h5 {
  margin-bottom: 80px;
}

@media screen and (max-width: 800px) {
  #myCanvas {
    height: 1648px;
    width: 100%;
  }

  .schedule-section .schedule-title {
    font-size: 1.2rem;
  }

  .schedule-section .container {
    width: 80%;
    height: 400px;
  }

  .schedule-section .schedule-container .time-container-left {
    margin: 20px 10px;
  }

  .schedule-section .schedule-container .time-container-right {
    margin: 0px 10px;
  }

  .planet img {
    width: 100px;
    height: 100px;
  }

  .time-text {
    font-size: 0.8rem;
  }
  .aconst2 {
    position: absolute;
    top: -10%;
    right: 0;
    z-index: -1;
    animation: floatx 3.2s linear infinite;
    /* height: 10%; */
  }
  .aconst2 img {
    height: 120px;
    opacity: 1;
  }

  #Day-2 {
    margin-top: 50px;
  }
  #Day-2 h5 {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  #myCanvas {
    height: 1569px;
    width: 100%;
  }

  .schedule-section .schedule-title {
    font-size: 1rem;
  }

  .schedule-section .container {
    width: 90%;
    height: 300px;
  }

  .schedule-section .schedule-container .time-container-left {
    margin: 10px 5px;
  }

  .schedule-section .schedule-container .time-container-right {
    margin: 0px 5px;
  }

  .schedule-section .schedule-container .time-container-right .time {
    align-items: flex-end;
    margin-right: 10px;
  }

  .planet img {
    width: 100px;
    height: 100px;
  }

  .time-text {
    font-size: 0.7rem;
  }

  .schedule-section .schedule-container .time-container-right .time .time-text {
    text-align: right;
  }

  #Day-1 h5 {
    margin-bottom: 53px;
  }

  #Day-2 {
    margin-top: 40px;
  }

  #Day-2 h5 {
    margin-bottom: 40px;
  }
}
